{:deps {clj-http {:mvn/version "3.10.0"}
        pathetic {:mvn/version "0.5.1"}
        buddy/buddy-core {:mvn/version "1.5.0"}
        clj-time {:mvn/version "0.15.2"}
        }
 :paths ["src"]
 :aliases {:dev {:extra-paths ["test" "resources"]}
           :test {:extra-paths ["test" "resources"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo/"}}}
